// 忘记密码及重置密码样式
.forget-password {
    width: 100%;
    height: 100%;
    background-color: #fff;

    .forget-form {
        width: 100%;
        margin-top: 40px;
        padding: 0px 24px;

        .tel-input {
            width: 100%;
            margin-bottom: 16px;
            position: relative;

            .code {
                display: block;
                padding-left: 5px;
                border-left: 1px solid #b5c7e8;
                position: absolute;
                font-size: 14px;
                color: #006eff;
                font-weight: 600;
                right: 10px;
                top: 12px;
            }
        }

        input {
            width: 100%;
            height: 44px;
            line-height: 44px;
            background-color: #ecf3ff;
            color: #5f79aa;
            border-radius: 4px;
            padding-left: 16px;
            font-size: 14px;
        }

        .submit-btn {
            margin-top: 70px;
        }
    }
}