// 全局变量
$primaryColor:#006EFF; //主色
$bgGrayColor:#F4F5F9; //灰色背景
$bgLightColor:#FFFFFF; //亮色背景
$linkTextColor:#0F8CFF; //链接文字颜色
$successColor:#38D691; //成功
$waringColor:#F5A623; //警告
$riskColor:#EC142E; //危险
$errorColor:#F01515; //错误颜色
$bgPlainColor:#CFE1F9; //朴素背景颜色
$titleColor:#333333; //标题颜色
$lightGreenColor:#17BC00; //亮绿
$bgTextareaColor:#E3E3E3; //多文本框背景颜色
$placeholderColor:#999999; //placeholder颜色
$labelColor:#999999; //label标签颜色
$labelValueColor:#666666; //label标签值的颜色
$backIconColor:#3E3B3B; //返回图标颜色